
/* Minimal reset based on http://www.vcarrer.com/2010/05/css-mini-reset.html */

html, body, div, form, fieldset, legend, label,
article, aside, figure, footer, header, section,
table, thead, tbody, tfoot, th, td, ul, ol {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  vertical-align: baseline;
}

article, aside, figure, footer, header, section { display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol { list-style: none }

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight: normal; }

img, a img {
  border: 0;
  display: block;
}

object, embed, video { outline: none; }
