
html {
  background: #D1DBBD;
  color: #222222;
}

header {
  display: block;
  height: 4em;
  background: #3E606F;
  background: -moz-linear-gradient(top, #3E606F, #193441);
  background: -webkit-gradient(linear, left top, left bottom, from(#3E606F), to(#193441));
  box-shadow: 0px 0px 5px #222222;
  -moz-box-shadow: -5px 0px 5px #222222;
  -webkit-box-shadow: 0px 0px 5px #222222;
}

header h1 {
  margin: 0 4%;
  padding: 0 0 0 5px;
  line-height: 2em;
  font-size: 2em;
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FCFFF5;
  text-shadow: 1px 1px #222222;
}

header a,
header a:visited {
  color: #FCFFF5;
  text-shadow: 1px 1px #222222;
}

#menu, #wrap {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 70em;
  border: 5px solid #91AA9D;
}

#wrap {
  background-color: #FCFFF5;
  border-bottom-left-radius: 1em;
  -moz-border-radius-bottomleft: 1em;
  -webkit-border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -moz-border-radius-bottomright: 1em;
  -webkit-border-bottom-right-radius: 1em;
}

#menu {
  position: relative;
  top: 0;
}

#main {
  margin: 0 4%;
}

#sidebar {
  float: right;
  width: 200px;
  margin: 0 4% 0 0;
}

footer {
  color: #91AA9D;
}

a, a:link, a:hover, a:visited, a.active {
  text-decoration: none;
  color: #3E606F;
}
